<% if @user.contacts.count == 0 %>

	<%= render "quickstart" %>

<% else %>

	<%= render "time" %>

	<div style="background: #eee; width: 64.5%; margin-top: 1%; margin-right: 0.5%; float: left; padding: 20px; ">
		- Event totals by event type
		<%= @events.group_by(&:description) %>
	</div>

	<div id="rpm" data-chart="<%= @rpm.to_json %>" style="width: 34.5%; margin-top: 1%; margin-left: 0.5%; float: left; height: 200px "></div>

	<div class="clear"></div>

<% end %>