<div id="eventer">

	<%= render "event_types" %>

	<div id="events_wrapper">
		<% cache [@contact ? @contact : @user, "events", params[:description], params[:page].to_i] do %>

			<%= will_paginate @events %>

			<br>

			<ul id="events">
				<% if @events.empty? %>
					<li>No events!</li>
				<% else %>
					<%= render @events %>
				<% end %>
			</ul>

			<br>

			<%= will_paginate @events %>

		<% end %>
	</div>

	<div class="clear"></div>
	
</div>