<% cache event do %>
	<%= content_tag_for :li, event do %>
		<p class="datestamp">
			<span class="date">
				<%= event.created_at.strftime("%b %-d") %>
			</span>
			<span class="time">
				<%= event.created_at.strftime("%-H:%M") %>
			</span>
		</p>
		<p class="description"><%= event.full_description_with_links.html_safe %></p>
		<div class="breakdown"></div>
		<div class="clear"></div>
	<% end %>
<% end %>