<div id="eventer">

	<%= render "event_types" %>

	<div id="events_wrapper">

		<%= will_paginate @events %>

		<br>

		<ul id="events">
			<% if @events.empty? %>
				<li>No events!</li>
			<% else %>
				<%= render @events %>
			<% end %>
		</ul>

		<br>

		<%= will_paginate @events %>

	</div>

	<div class="clear"></div>
	
</div>