<% cache contact do %>
	<tr>
	  <td><%= link_to contact.key.to_s, contact %></td>
		<td><%= link_to contact.data["name"].to_s, contact %></td>
		<td><%= link_to contact.data["email"].to_s, contact %></td>
		<td><%= link_to contact.data["domain"].to_s, contact %></td>
	</tr>
<% end %>