<h1>Listing contacts</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Data</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
		<% cache [@user, "contacts"] do %>
	    <%= render @contacts %>
		<% end %>
  </tbody>
</table>

<br>

<%= link_to "New Contact", new_contact_path %>

<script type="text/javascript">
	this._CT || (this._CT = []);
	_CT.push(["debug"]);
	_CT.push(["api_key", "wQQoKe7ajpZBcGv4VVy3Txm45qT1wt1Tf2vxbicYKUV1"]);
	_CT.push(["saveContact", {
		funny: "1",
		baby: 0,
    location: "Halifax, NS",
		key: "dallas"
	}]);
	
  (function() {
    var ct = document.createElement("script"); ct.type = "text/javascript";
		ct.async = true;  ct.src = "//localhost:3000/assets/track.js";
		var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ct, s);
  })();
</script>