<h1>Listing contacts</h1>

<br>

<%= link_to "New Contact", new_contact_path %>

<br><br>

<%= will_paginate @contacts %>

<br>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Data</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
		<% cache [@segment ? @segment : @user, "contacts", params[:page].to_i] do %>
	    <%= render @contacts %>
		<% end %>
  </tbody>
</table>

<br>

<%= will_paginate @contacts %>