<% if @user.contacts.count == 0 %>

	<%= render "quickstart" %>

<% else %>

	<h1>Listing contacts</h1>

	<% cache [@segment ? @segment : @user, "contacts", params[:page].to_i] do %>

		<%= will_paginate @contacts %>

		<br>

		<table class="table">
		  <thead>
		    <tr>
		      <th>Key</th>
		      <th>Name</th>
		      <th>Email</th>
					<th>Domain</th>
		    </tr>
		  </thead>

		  <tbody>
		    <%= render @contacts %>
		  </tbody>
		</table>
	
		<br>

		<%= will_paginate @contacts %>

	<% end %>

<% end %>